@model A05DockerNorthwindCore.Models.NorthwindContext

@{
    ViewData["Title"] = "Index";
}

<h2>Northwind - Informationssystem</h2>
Herkunftsland:
<form asp-controller="Home" asp-action="FilterCustomers" data-ajax="true" data-ajax-update="#customerResults">
    @Html.DropDownList("country")
    <input type="submit" value="go"/>
</form>
<div id="customerResults"></div>
