@model A05DockerNorthwindCore.Models.NorthwindContext

@{
    ViewData["Title"] = "Index";
}

<h2>Northwind - Informationssystem</h2>
Herkunftsland:
@Html.DropDownList("countries")
<div id="customerList"></div>
<div id="orderList"></div>
<div id="orderDetails"></div>
