@model A05DockerNorthwindCore.Models.NorthwindContext

@{
    ViewData["Title"] = "Index";
}
<div id="countryList" class="col-lg-12">
    <h2>Northwind - Informationssystem</h2>
    Herkunftsland:
    @Html.DropDownList("countries")
    <br>
</div>
<div id="customerList" class="col-lg-12"></div>
<div>
    <div id="orderList" class="col-lg-2 col-md-3"></div>
    <div id="orderDetails" class="col-lg-10 col-md-9"></div>
</div>

